@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fade-in {
    animation: fade-in 1s ease forwards;
  }
  
  .fade-out {
    animation: fade-out 1s ease forwards;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1df800;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1df800;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #output {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
  }
  
  .delete-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #d32f2f;
  }
  
  ul {
    counter-reset: list-counter;
  }
  
  li::before {
    content: counter(list-counter);
    counter-increment: list-counter;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }
  